:root{
	--mainColor:#FF96AD;
	--secondaryColor:#FFF5FD;

	--borderColor:#164D56;

	--mainText:black;
	--secondaryText:#4b5156;

	--themeDotBorder:black;

	--previewBg:rgb(255, 192, 203, 0.8);
	--previewShadow:#F5A8A8;


	--buttonColor:#F25287;


}
